/*caracteristicas del div que seran por defecto*/
div{
	font-family: 'Arial';
	background: #a8cf45;
	margin: 15px 0px;
	position: relative;

	margin-left: 20px;
	padding: 5px 20px;
	text-align: center;
	font-weight: bolder;
	width: 80px;
	display: inline-block;*/
	vertical-align: middle;
}
.ReboteIn{
	-webkit-animation:1s ReboteIn 1;
}
@-webkit-keyframes ReboteIn{
	0%{
		opacity: 0;
		-webkit-transform:scale(0.3);
	}
	50%{
		opacity: 1;
		-webkit-transform:scale(1.1);
	}
	70%{
		-webkit-transform:scale(0.9);
	}
}